LeftSidebar {
    background-color: #212529;
    color: #e0e0e0;
    border: none;
}

QLabel {
    color: #e0e0e0;
    font-family: Arial;
    font-size: 14px;
    padding: 4px;
}

QLabel#Title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    color: #ffffff;
}