QWidget#RightPanel {
    background-color: #2c3034;
    color: #ffffff;
}

QLabel#HeaderTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

QLabel#AlphabetLabel {
    font-size: 16px;
    color: #ced4da;
    margin-bottom: 20px;
}

QFrame#Separator {
    background-color: #495057;
    color: #495057;
    border: none;
    min-height: 1px;
}

QLabel#FooterTitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

QLabel#FooterPoint {
    font-size: 14px;
    color: #ced4da;
    margin-left: 10px;
}