QLabel#Heading {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 5px;
}

QLabel#SubLabel {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 5px;
}

QLineEdit {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    margin-bottom: 15px;
}

QLabel#ResultLabel {
    background-color: #8bc34a;
    /* Light Green */
    color: #000000;
    border-radius: 4px;
    padding: 15px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #7cb342;
}